<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Velkommen til Køreskole-priser</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/">Find tilbud</a></li>
        <li routerLinkActive="active"><a routerLink="/erdukoerelarer">Er du kørelærer</a></li>
        <li routerLinkActive="active"><a routerLink="/omos">Om os</a></li>
      </ul>
    </div>
  </div>
</nav>
