<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        class="list-group-item"
        *ngFor="let tilbud of tilbudene">
       <h2>Navn: {{ tilbud.koreskole.navn }}</h2>
        <h3>Pris: {{ tilbud.tilbud.pris }} kr. </h3>
        <h4>Bilmærke: {{ tilbud.tilbud.bilmarke }} </h4>
        <h4>Kontakt os på {{ tilbud.koreskole.mail }} </h4>
        <h4>Kontakt os på {{ tilbud.tilbud.bilstorrelse }} </h4>
        <h4>Kontakt os på {{ tilbud.tilbud.tilgangeligedage.tilgangelig_fredag }} </h4>
      </a>
    </div>
  </div>
</div>
