<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Login</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Brugernavn</label>
      <div class="col-md-4">
        <input #brugernavn id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
        <span class="help-block">help</span>
      </div>
    </div>

    <!-- Search input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="searchinput">Password</label>
      <div class="col-md-4">
        <input #kode id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md">
        <p class="help-block">help</p>
      </div>
    </div>
    <hr>
    <button class="btn-primary" routerLink="loggedind">Login</button>


  </fieldset>

</form>
<button class="btn-primary" (click)="logIn(brugernavn,kode)">Leg med rest</button>
<h1>{{lol}}</h1>
