<div class="row">
  <div class="column" align="center">
    <h1 class="h1">KØRESKOLEPRISER</h1>
  </div>
  <div class="column" align="center">
    <button class="btn btn-success" routerLink="/erdukoerelaerer">Er du kørelærer?</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="column" align="center">
    <p>Hej med dig!</p>
    <p>Er du på udkig efter et billigt kørekort?</p>
    <p>Så tag et kig på vores side :)</p>
  </div>
  <div class="column">

  </div>
</div>

<app-soeg></app-soeg>
<hr>
<div class="wrapper" align="center">
  <button class="button btn-success" (click)="onSog()">Søg</button>
</div>
<hr>
<div style="text-align: center;">
  <div style="width: 800px; margin: 0 auto;">
    <p>KOM NU</p>
    <app-vis-tilbud-soeg></app-vis-tilbud-soeg>
  </div>
</div>



