<div class="row">
  <div class="column">
    <h1>Velkommen til køreskolepriser</h1>
  </div>
  <div class="column">
    <p align="right">
      <button class="btn btn-success" routerLink="/erdukoerelaerer">Er du kørelærer?</button>
    </p>
  </div>
</div>

<hr>
<p>Hej med dig!</p>
<p>Er du på udkig efter et billigt kørekort?</p>
<p>Så tag et kig på vores side :)</p>

<app-soeg></app-soeg>
<hr>
<div class="wrapper" align="center">
  <button class="button btn-success" (click)="onSog()">Søg</button>
</div>
<hr>

<app-vis-tilbud-soeg></app-vis-tilbud-soeg>

