<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Login</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Brugernavn</label>
      <div class="col-md-4">
        <input #brugernavn id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Search input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="searchinput">Password</label>
      <div class="col-md-4">
        <input #kode id="searchinput" name="searchinput" type="search" placeholder="placeholder" class="form-control input-md" required="required">
      </div>
    </div>
    <hr>




  </fieldset>

</form>

<button (click)="onLogin(brugernavn.value,kode.value)">TEST med REST</button>

<button class="btn btn-default" (click)="onLogin()">Login Metode</button>
<button class="btn btn-default" (click)="onLogout()">Logout Metode</button>
<button class="btn-primary" routerLink="/korelaerer">Login</button>

