<form class="form-horizontal" #f="ngForm" >
  <fieldset>

    <!-- Form Name -->
    <legend>Køreskole</legend>

    <!-- Select Basic -->
    <div class="row">
      <div class="column" >
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Kørekort pris</label>
          <div class="col-md-4">
            <select id="selectbasic" name="prisen" class="form-control" ngModel required>
              <option value="1">8000 kr</option>
              <option value="2">8500 kr</option>
              <option value="3">9000 kr</option>
              <option value="4">9500 kr</option>
              <option value="5">10.000 kr</option>
              <option value="6">10.500 kr</option>
              <option value="7">11.000 kr</option>
              <option value="8">11.500 kr</option>
              <option value="9">12.000 kr</option>
              <option value="10">12.500 kr</option>
              <option value="11">13.000 kr</option>
              <option value="12">13.500 kr</option>
              <option value="13">14.000 kr</option>
              <option value="14">14.500 kr</option>
              <option value="15">15.000 kr</option>
              <option value="16">15.500 kr</option>
              <option value="17">16.000 kr</option>
              <option value="18">16.500 kr</option>
              <option value="19">17.000 kr</option>
            </select>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Search input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="searchinput" >Postnummer</label>
          <div class="col-md-4">
            <input id="searchinput" name="postnummer" type="number" placeholder="Postnummer" class="form-control input-md" #postnr ngModel required>
          </div>
        </div>
      </div>
    </div>




  </fieldset>
</form>
